version: '3'
services:
  dev-back:
    build: ./back-end
    env_file:
      - ./.env
    environment:
      DB_SERVICE_NAME: dev-db
    ports:
      - '8080:8080'
    volumes:
      - ./back-end:/app
    container_name: mc-back-dev-compose
  dev-front:
    build: ./front-end
    ports:
      - '80:8080'
    volumes:
      - ./front-end/src:/app/src
      - ./front-end/public:/app/public
    container_name: mc-front-dev-compose
  dev-db:
    build: ./back-end/db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      TZ: ${DB_TIME_ZONE}
    ports:
      - '3306:3306'
    volumes:
      - ./back-end/db/init:/docker-entrypoint-initdb.d
      - ./back-end/db/data:/var/lib/mysql
    container_name: mc-db-dev-compose
